* {
    box-sizing: border-box;
}

body {
 background-color: #ECECEC;		
}

.header {
 height: 6rem;
}

.header p{
 font-family: 'Bree Serif', serif;
 text-align: center;	
 font-size: 1.8rem;
 padding:1rem;	
 color: #3D4F6B;
}

.canvas-container{
  width:35%;
  margin: auto;
}


canvas {
  margin: auto;
  /*border: 1px solid black;*/
}

.hidden {
	display: none;
}